<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/flask-store.css')}}">

    <link rel="canonical" href="/">
    <meta name="theme-color" content="#7952b3">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <a href="#" class="logo"><h1>shop</h1></a>
        
        <ul class="navmenu">
            <li><a href="/home">home</a></li>
            <li><a href="">shop</a></li>
            <li><a href="">products</a></li>
            <li><a href="">page</a></li>
            <li><a href="">docs</a></li>
        </ul>
        <div class="nav-icon">
            <a href="#"><i class="bx bx-search"></i></box-icon></a>
            <a href="/login"><i class="bx bx-user"></i></a>
            <a href="/sign-up"><i class="bx bx-user-alt"></i></a>

            <a href="#"><i  class="bx bx-cart"></i></a>
    
            <div class="bx bx-menu" id="menu-icon "></div>
        </div>
    
    </header>
    
    <section class="main-home">
        <div class="main-text">
            <h5> may collecttions</h5>
            <h1>new collections <br> new season 2023</h1>
            <p> there is nothing like trend</p>
    
            <a href="#" class="main-btn"> shop now <i class="bx bx-right-arrow-alt"></i></a>
        </div>
    </section>
    <div class="down-arrow">
        <a href="#trending" class="down"><i class="bx bx-down-arrow-alt"></i></a>
    </div>
    
            
    <section class="trending-production">
      <div class="center-text" id="trending">
        <h2> our trending <span>products</span></h2>
      </div>
      <div class="products">
        <div class="row">
            <img src="/static/img/pro.jpeg" alt="">
            <div class="clas-product">
                <h5>sale</h5>
            </div>
            <div class="heart-icon">
                <i class="bx bx-heart"></i>
            </div>
            <div class="ratting">
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star-half"></i>
            </div>
            <div class="price">
                <h4>half price</h4>
                <p> #99 - #129</p>
            </div>
        </div>
        <div class="row">
            <img src="/static/img/hoodie.jpeg" alt="">
            <div class="clas-product">
                <h5>sale</h5>
            </div>
            <div class="heart-icon">
                <i class="bx bx-heart"></i>
            </div>
            <div class="ratting">
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star-half"></i>
            </div>
            <div class="price">
                <h4>hoodie collections</h4>
                <p> #99 - #129</p>
            </div>
        </div>
        <div class="row">
            <img src="/static/img/pro.jpeg" alt="">
            <div class="clas-product">
                <h5>sale</h5>
            </div>
            <div class="heart-icon">
                <i class="bx bx-heart"></i>
            </div>
            <div class="ratting">
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star"></i>
                <i class="bx bx star-half"></i>
            </div>
            <div class="price">
                <h4>half price</h4>
                <p> #99 - #129</p>
            </div>
        </div>
      </div>
    
    </section>
</body>
</html>