<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ product.title }}</title>
</head>

    <link rel="stylesheet" href="{{url_for('static', filename='css/edit.css')}}">

<body>
<div class="container">
    <div style="padding: 20px; text-align: center; color: red">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <b>{{ message }}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    <div class="container">
        <div class="content">
        <h4>Editing {{ product.title }}</h4>
        <form enctype="multipart/form-data" method="post" action="/edit/{{ product.id }}">
        <input value="{{ product.title }}" type="text" name="title" class="form-control" placeholder="Enter title" id="title">
            <br/>
            <input value="{{ product.price }}" type="number" name="price" class="form-control" placeholder="Enter price" id="price">
            <br/>
            <input type="text" value="{{ product.category }}" name="category" class="form-control" placeholder="Enter category" id="category">
            <br/>
            <textarea name="description" class="form-control" rows="3" id="description">
                {{ product.description }}
            </textarea>
            <br/>
            <input type="file" name="image" placeholder="select picture">
            <br/> <br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>
</body>
</html>